
*{
    font-size: 30px;
    font-weight:400 ;
    font-family: 'Poppins', sans-serif;
}

/* Body */

body{
    background-color: #f6f8f9;
}



h1{
    display: inline-block;
    font-size: 70px;
    line-height: 1rem;
    height: 3rem;
    font-weight: 600;
    
}

img{
    height: 70px;
    

}

/* Main */

.container{
    background-color: #ffffff ;
    margin: auto;
    width: 70%;
    height: 800px;
    border-radius: 10px;
    
}

main{
    margin-left: 5rem;
    padding-top: 1rem;
}

nav{
    margin-bottom: 100px;
}



.active{
    border-radius: 10px;
    color: #ffffff;
    background-color: #45abea;
}

.not-active{
    border-radius: 10px;
    border-color:#e4e7e9 ;
    color: #e4e7e9;
    background-color: #ffffff;
    border-width: 3px;
}

.margin-bottom{
    margin-bottom:  1rem; 

}

.editorial{
    color: #ffffff;
    background-color: #45abea ;
    border-radius: 45px;
    display: inline-block;
    width: 5rem;
    height: 1.3rem;
    line-height: 1.3rem;
    margin: auto;
    text-align: center;
}

.q1-goals{
    color: #ffffff;
    background-color: #9c72e4 ;
    border-radius: 45px;
    display: inline-block;
    width: 5rem;
    height: 1.3rem;
    line-height: 1.3rem;
    margin: auto;
    text-align: center;
}

.recruiting{
    color: #ffffff;
    background-color: #63c0a9 ;
    border-radius: 45px;
    display: inline-block;
    width: 6rem;
    height: 1.3rem;
    line-height: 1.3rem;
    margin: auto;
    text-align: center;
}

.mobile{
    color: #ffffff;
    background-color: #f29e33 ;
    border-radius: 45px;
    display: inline-block;
    width: 5rem;
    height: 1.3rem;
    line-height: 1.3rem;
    margin: auto;
    text-align: center;
}

.website{
    color: #ffffff;
    background-color: #d863a1 ;
    border-radius: 45px;
    display: inline-block;
    width: 5rem;
    height: 1.3rem;
    line-height: 1.3rem;
    margin: auto;
    text-align: center;
}

.sales{
    color: #ffffff;
    background-color: #b0c926 ;
    border-radius: 45px;
    display: inline-block;
    width: 5rem;
    height: 1.3rem;
    line-height: 1.3rem;
    margin: auto;
    text-align: center;
}